<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="endpoint1" />
        <binding name="endpoint2" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="endpoint3" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10001/test1/endpoint1"
        binding="basicHttpBinding" bindingConfiguration="endpoint1"
        contract="ServiceReference1.IKalkulatorLZ" name="endpoint1" />
      <endpoint address="http://localhost:10002/test2/endpoint2" binding="basicHttpBinding"
        bindingConfiguration="endpoint2" contract="ServiceReference2.IOWSerwice"
        name="endpoint2" />
      <endpoint address="http://localhost:10003/test3/endpoint3" binding="wsDualHttpBinding"
        bindingConfiguration="endpoint3" contract="ServiceReference3.ICallbackKalkulator"
        name="endpoint3">
        <identity>
          <userPrincipalName value="DESKTOP-BA1EH8H\michal" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>