<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="endpoint" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="endpoint2" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:10001/library/endpoint2"
        binding="wsDualHttpBinding" bindingConfiguration="endpoint2"
        contract="ServiceReference2.ICallbackBooks" name="endpoint2">
        <identity>
          <userPrincipalName value="DESKTOP-BA1EH8H\michal" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:10000/library/endpoint" binding="basicHttpBinding"
        bindingConfiguration="endpoint" contract="ServiceReference1.ILibrary"
        name="endpoint" />
    </client>
  </system.serviceModel>
</configuration>