<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="Contract.Library" behaviorConfiguration="zachowanieSerwisu">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10000/library"/>
          </baseAddresses>
        </host>

        <endpoint name="endpoint" address="/endpoint" binding="basicHttpBinding" contract="Contract.ILibrary">
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Contract.CallbackBooks" behaviorConfiguration="zachowanieSerwisu">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:10001/library"/>
            </baseAddresses>
          </host>

          <endpoint name="endpoint2" address="/endpoint2" binding="wsDualHttpBinding" contract="Contract.ICallbackBooks">
          </endpoint>

          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>


    <behaviors>
      <serviceBehaviors>
        <behavior name="zachowanieSerwisu">
          <serviceThrottling maxConcurrentCalls="5" maxConcurrentSessions="5" maxConcurrentInstances="5"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
          <serviceDebug includeExceptionDetailInFaults="True" />  
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>