<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.serviceModel>
    <services>
      <service name="Contract.KalkulatorZ" behaviorConfiguration="zachowanieSerwisu">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10001/test1"/>
          </baseAddresses>
        </host>

        <endpoint name="endpoint1" address="/endpoint1" binding="basicHttpBinding" contract="Contract.IKalkulatorLZ">
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="Contract.MojSerwis2" behaviorConfiguration="zachowanieSerwisu">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:10002/test2"/>
          </baseAddresses>
        </host>

        <endpoint name="endpoint2" address="/endpoint2" binding="basicHttpBinding" contract="Contract.IOWSerwice">
        </endpoint>

        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>

      </service>

        <service name="Contract.MojCallbackKalkulator" behaviorConfiguration="zachowanieSerwisu">
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:10003/test3"/>
            </baseAddresses>
          </host>

          <endpoint name="endpoint3" address="/endpoint3" binding="wsDualHttpBinding" contract="Contract.ICallbackKalkulator">
          </endpoint>

          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>


    <behaviors>
      <serviceBehaviors>
        <behavior name="zachowanieSerwisu">
          <serviceThrottling maxConcurrentCalls="5" maxConcurrentSessions="5" maxConcurrentInstances="5"/>
          <serviceMetadata httpGetEnabled="true" httpGetUrl=""/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

</configuration>